/minsk10/outward
/minsk10/lib
/minsk10/*.sym
/minsk10/*.dsk
/minsk10/*.swp

/minsk20/outward
/minsk20/lib
/minsk20/*.sym
/minsk20/*.dsk
/minsk20/*.swp

/rtl/files/outward
/rtl/files/*.sym
/rtl/files/*.dsk
/rtl/files/*.swp

/rtl/dbf/outward
/rtl/dbf/*.sym
/rtl/dbf/*.dsk
/rtl/dbf/*.swp

/rtl/servis/outward
/rtl/servis/*.sym
/rtl/servis/*.dsk
/rtl/servis/*.swp

/rtl/graphics/outward
/rtl/graphics/*.sym
/rtl/graphics/*.dsk
/rtl/graphics/*.swp
